<h2>Loggin©</h2>
<form novalidate (ngSubmit)="onSubmit()" [formGroup]="userRegisterForm">
	<fieldset>
    <label for="name">(*) Nombre:</label>
    <input type="text" id="name" formControlName="name" />
    <div class="error-message" *ngIf="!nameFormControl?.valid && nameFormControl?.dirty || isSubmitted">
      <p *ngIf="nameFormControl?.errors?.['required']">
        Este campo es obligatorio
      </p>
      <p *ngIf="nameFormControl?.errors?.['maxlength']">
        No más de 20 caracteres
      </p>
    </div>
  </fieldset>

	<fieldset>
    <label for="password">(*) Password:</label>
    <input type="password" id="password" formControlName="password" />
    <div class="error-message" *ngIf="!passwordFormControl?.valid && passwordFormControl?.dirty || isSubmitted">
      <p *ngIf="passwordFormControl?.errors?.['required']">
        Este campo es obligatorio
      </p>
      <p *ngIf="passwordFormControl?.errors?.['pattern']">
        La contraseña debe contener al menos 8 caracteres, una mayúscula, una minúscula y un número
      </p>
      <p *ngIf="passwordFormControl?.errors?.['minlength']">
        Este campo tiene que tener al menos {{ passwordFormControl.errors?.['minlength']?.requiredLength }} caracteres
      </p>
      <p *ngIf="passwordFormControl?.errors?.['maxlength']">
        Este campo tiene que tener como mucho {{ passwordFormControl.errors?.['maxlength']?.requiredLength }} caracteres
      </p>
    </div>
  </fieldset>

	<fieldset>
    <label for="passwordRepeat">(*) Repeat password:</label>
    <input type="password" id="passwordRepeat" formControlName="passwordRepeat" />
    <div class="error-message" *ngIf="!passwordRepeatFormControl?.valid && passwordRepeatFormControl?.dirty || isSubmitted">
      <p *ngIf="passwordRepeatFormControl?.errors?.['required']">
        Este campo es obligatorio
      </p>
      <p *ngIf="passwordRepeatFormControl?.errors?.['minlength']">
        Este campo tiene que tener al menos {{ passwordRepeatFormControl.errors?.['minlength']?.requiredLength }} caracteres
      </p>
      <p *ngIf="passwordRepeatFormControl?.errors?.['maxlength']">
        Este campo tiene que tener como mucho {{ passwordRepeatFormControl.errors?.['maxlength']?.requiredLength }} caracteres
      </p>
      <p *ngIf="passwordRepeatFormControl?.errors?.['mustMatch']">
        Las contraseñas no coinciden
      </p>
    </div>
  </fieldset>

	<button type="submit">Submit</button>
</form>

